!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Nightlycoffee - backend
    = csrf_meta_tags
    = action_cable_meta_tag
    = stylesheet_link_tag    'backend', media: 'all'
    = javascript_include_tag 'backend'
  %body{'ng-app': 'App'}
    = render 'layouts/backend/navbar'
    .container-fluid
      .row
        = render 'layouts/backend/sidebar'
        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
          = yield