!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Nightlycoffee - backend
    = csrf_meta_tags
    = action_cable_meta_tag
    = stylesheet_link_tag    'backend', media: 'all'
    = javascript_include_tag 'backend'
  %body{'ng-app': 'App'}
    .container
      = render 'layouts/backend/navbar'
      = yield
